.env
postgresql-42.2.24.jar
jupyter-pg-data/
node_modules/
package-lock.json
.DS_Store
log-received
spark-logs
spark/
zeppelin-warehouse
custom-zeppelin/spark-setting.conf
jupyter-work/spark-warehouse
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
